<h1>URL --> PNG</h1>
<form action="/urltopng" method="post">
    <input type="url" name="url" value="http://www.google.de">
    <input type="submit">
</form>

<h1>HTML --> PNG</h1>
<form action="/htmltopng" method="post">
    <textarea name="html" ><%= File.read("./views/simple.html") %></textarea>
    <input type="submit">
</form>

<h1>HTML --> JPG</h1>
<form action="/htmltojpg" method="post">
    <textarea name="html" ><%= File.read("./views/simple.html") %></textarea>
    <input type="submit">
</form>

<h1>HTML --> PDF</h1>
<form action="/htmltopdf" method="post">
    <textarea name="html" ><%= File.read("./views/simple.html") %></textarea>
    <input type="submit">
</form>

<hr />

<h1>HTMLwithRaphael.js Graphic --> PDF</h1>
<form action="/htmlraphaeltopdf" method="post">
    <textarea name="html" style="width:600px; height: 800px;" ><%= File.read("./views/raphael.html") %></textarea>
    <input type="submit">
</form>



